<div class="navbar navbar-white bg-white box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <h2 style="color:black"><strong>Cinta Coding</strong></h2>
        </a>
        <a routerLink="/login" class="btn btn-lg btn-primary btn-rnd">Login</a>
    </div>
</div>
<section class="text-center">
    <div class="container py-5">
        <img src="../../assets/landing.PNG" style="width: 100%;" alt="">
    </div>
</section>