<div class="navbar navbar-white bg-white box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <h2 style="color:black"><strong>Cinta Coding</strong></h2>
        </a>
        <a href="#" style="text-decoration:none; font-size: 1.5em; color:grey; border-bottom: 4px solid rgb(8, 104, 212); padding-bottom:0px !important;" class="p-2 link-secondary">Post</a>
        <h2 style="color:black"><strong>Welcome, <a href="" [routerLink]="['/profile']">{{user.username}}</a></strong></h2>
    </div>
</div>
<main role="main" class="container" >
    <div class="px-4 my-5 ">
        
        <div class="col-lg-6 mx-auto">
            <a href="" [routerLink]="['/post']"><span class="fa fa-arrow-left " style="left: 0px;"></span></a>
        </div>
        
    </div>
    <div class="col-lg-6 mx-auto">
        <div class="row">
            <div class="col-lg-3 text-center" >
                <!-- <strong>Username</strong> -->
            </div>
            <div class="col-lg-9" style="text-align: justify;">
                {{objPost?.title}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 text-center" >
                <strong>{{user.name}}</strong>
            </div>
            <div class="col-lg-9" style="text-align: justify; color:grey;">
                {{objPost?.body}}
            </div>
        </div>
        <div class="row pt-2" *ngIf="!showComment">
            <div class="col-lg-3 text-center" >
                <!-- <strong>{{item.user[0].name}}</strong> -->
            </div>
            <div class="col-lg-2" style="text-align: justify;">
                <a href="javascript:void(0);" (click)="showAllComments()"><i class="fa fa-comment-o"></i> {{objPost?.comments?.length}}</a>
            </div>
        </div>
        <div *ngIf="showComment">
            <div class="row pt-3" >
                <div class="col-lg-3 text-center" >
                    <!-- <strong>{{user.name}}</strong> -->
                </div>
                <div class="col-lg-3" style="text-align: justify; color:grey;">
                    All Comment
                </div>
                <div class="col-lg-3" style="text-align: justify;">
                    <!-- comments -->
                </div>
            </div>
            <div class="row pt-3"  *ngFor="let item of objPost?.comments">
                <div class="col-lg-3 text-center" >
                    <!-- <strong>{{user.name}}</strong> -->
                </div>
                <div class="col-lg-3" style="text-align: justify;">
                    <strong>{{item.name}}</strong>
                </div>
                <div class="col-lg-6" style="text-align: justify; color:grey"  >
                    {{item.body}}
                </div>
            </div>
        </div>
        
        <br>
    </div>
    
    
</main>